*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.container{
height: 65vh;
width: 22vw;
position: relative;
/* left: 10vh; */
/* background-color: rgb(4, 93, 93); */
margin-top: 20px;
margin: 20px;
overflow: hidden;
border-radius: 5px;
border: 2px solid rgb(203, 202, 202);
}
.image{
height: 43vh;
width: 20vw;
/* margin: 4px; */
/* background-color: aqua; */
}
.text{
    height: 14vh;
    /* margin: 5px; */
    /* background-color: aqua; */
}
.btnprimary{
    background-color:#2874F0 ;
    height: 4vh;
    width: 15vw;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    position: relative;
    left: 7vh;
}
@media only screen and (max-width: 600px) {
   .container{
    width: 85vw;
    height: 80vh;
    left: 0;
    margin: 6vw;
   } 
   .image {
    width: 73vw;
    margin: 20px;
   }
a{
    text-decoration: none;
    color: black;
}
   .text {
    width: 73vw;
    margin: 20px;
    
   }
   .btnprimary {
    width: 40vw;
    height: 6vh;
    margin-top:6vh;
   }
}