 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 .row{
    height: 70vh;
    width: 100vw;
     flex-wrap: wrap;
     display: flex; 
 } 
 .cardsrow{
    height: 20vh;
 }
 @media only screen and (max-width: 600px) {
    .row {
      display: block;
    }
 }